# Ignore node modules and build output
frontend/node_modules
frontend/.next
frontend/out
backend/build
backend/.gradle

# Ignore Gradle caches
.gradle
**/build/

# Ignore logs
*.log

# Ignore IDE/project files
.idea
.vscode
*.iml

# Ignore Git files
.git
.gitignore
