### Java / Spring Boot ###
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Node.js / Next.js frontend ###
# dependencies
**/node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# test coverage reports
/coverage

# Next.js build output
frontend/out/
frontend/.next/
frontend/dist/

# other frontend build output
/build

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# environment files
.env
.env.local
.env.docker
.env*.local

# deployment (Vercel)
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Generated static files
backend/src/main/resources/static/